.creater-section{
    margin-top: 100px;
    font-size: max(3vw, 20px);
    text-align: center;
    font-weight: 500;
}
.creater-section .heading{
    text-align: center;
    margin: 10px 0;
    font-size: max(2vw, 10px);
    font-weight: 300;
}
.hey-text {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.wave-icon {
  color: #FFD700;
}

.creater-section .para{
    margin: 10px 0px;
    font-size: max(1.5vw, 15px);
    padding: 0px 250px;
    font-weight: 300;
}
.social-media-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.social-media-links img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
}

.profile-logo {
  display: block;
  margin: 0 auto;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
